#k{
    position: absolute;
    top:300px;
    left:450px
  }
  
  .speed{
    margin-left:450px;
    margin-top:-450px;
  }
  
  
  html{
    width: 100%
  }
   
  .box{
    border: 1px solid;
    height: 20px;
    width: 19px;
    float: left;
    text-align: center;
    transition: transform .1s;
  }
  
  body{
    width: 440px
  }
  .control{
    
    
  }
  .up,.dn,.lf,.rt{
    padding: 10px;
    cursor: pointer;
  }
  .up{
    position: absolute;
    top:3px;
    left:200px;
    background: rgb(46, 49, 243,0.4)
  }
  .dn{
    position: absolute;
    top:390px;
    left:180px;
    background: rgb(46, 49, 243,0.4)
  }
  .lf{
    position: absolute;
    top:190px;
    left:30px;
    background: rgb(46, 49, 243,0.4)
  }
  .rt{
    position: absolute;
    top:190px;
    left:350px;
    background: rgb(46, 49, 243,0.4)
    
  }    
  